.label,
.button,
.toggle-button,
.radio-button,
.check-box,
.text-input,
.text-area,
.password-field,
.choice-box,
.combo-box,
.list-cell,
.tree-cell,
.table-cell,
.tree-table-cell,
.tab-pane>.tab-header-area>.headers-region>.tab>.tab-container>.tab-label,
.titled-pane>.title,
.menu-button,
.menu,
.menu-item,
.context-menu,
.tooltip,
.hyperlink,
.column-header,
.menu-bar {
    -fx-font-size: 11.0pt;
    -fx-font-family: 'Gill Sans';
}

.status-bar,
.dialog-pane,
.toggle-switch,
.check-list-cell,
.table-view,
.list-view,
.tree-view,
.split-pane,
.check-list-view,
.hyperlink-label,
.list-selection-view,
.segmented-button-bar,
.text {
    -fx-font-size: 11.0pt;
    -fx-font-family: 'Gill Sans';
}

.MWindow {
    -light-black: rgb(74.0, 75.0, 78.0);
    -dark-highlight: rgb(87.0, 89.0, 92.0);
    -dark-black: rgb(39.0, 40.0, 40.0);
    -darkest-black: rgb(5.0, 5.0, 5.0);
    -mid-gray: rgb(216.0, 222.0, 227.0);
    -fx-background-color: -mid-gray;
}

#decorationArea {
    -fx-padding: 10.0px;
    -fx-background-size: cover, contain;
    -fx-background-position: left top, center center;
    -fx-background-repeat: no-repeat;
}

#window_close {
    -fx-font-size: 3.0px;
    -fx-background-color: null;
    -fx-background-image: url("../graphic/images/close.png");
    -fx-padding: 4.0 6.0 8.0 10.0;
}

.console .content {
    -fx-background-color: #2A2A2A;
    -fx-text-fill: white;
}

.console .text-area {
    -fx-text-fill: lightgray;
    -fx-font-family: monospace;
    -fx-font-size: 14.0;
    -fx-border-color: black;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0.0 1.0 0.0 1.0;
}

.glyph-font,
.glyph-font .text {
    -fx-font-family: 'FontAwesome';
    -fx-font-size: 11.0pt;
}