.root {
    -fx-font-size  : 10pt;
    -fx-font-family: 'Verdana';
}

.MWindow {
	-light-black: rgb(74, 75, 78);
    -dark-highlight: rgb(87, 89, 92);
    -dark-black: rgb(39, 40, 40);
    -darkest-black: rgb(5, 5, 5);
    -mid-gray: rgb(216, 222, 227);
    -fx-background-color: -mid-gray;
}

#decorationArea {
    -fx-padding: 10px;
    -fx-background-size: cover, contain;
    -fx-background-position: left top, center center;
    -fx-background-repeat: no-repeat;
}

#window_close {
    -fx-font-size: 3px;
    -fx-background-color: null;
    -fx-background-image: url("../graphic/images/close.png");
    -fx-padding: 4 6 8 10;
}

.console .content {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.console .text-area {
    -fx-text-fill: lightgray;
    -fx-font-family: monospace;
    -fx-font-size: 14;
    -fx-border-color: black;
}